<h1>{{ titrePage$ | async }}</h1>
<input type="text" [formControl]="searchFormation"/>
<div>
  <ul>
    <ng-container *ngIf="formations$ | async; let formations">
      <ng-container *ngFor="let f of formations">
        <li *ngIf="f.chargeH > 0; else formationFinie" [class.formation-en-retard]="f.chargeH > 20">
          {{ f.nom | lowercase }} : {{ f.chargeH }} heures restantes. Vous avez obtenu {{ f.note | notation }}
          <app-progression-bar [formation]="f" (survolProgressBar)="catchInteractionProgressBar($event)">
          </app-progression-bar>
          <ul>
            <li appHover="Path link"><a [routerLink]="[f.nom]">Path</a></li>
            <li appHover="Query link"><a [routerLink]="[f.nom]" [queryParams]="{ 'prop': '' }">Query</a></li>
          </ul>
        </li>
        <ng-template #formationFinie>
          <li appHover="Formation finie">La formation {{ f.nom }} est finie</li>
        </ng-template>
      </ng-container>
    </ng-container>
  </ul>
</div>
<div>{{ dateDuJour | date:'dd/MM/yyyy' }}</div>
<div>
  <input type="text" [(ngModel)]="nbFormation" name="nb-formation-field">
  <button appHover="ajouter formation" (click)="ajouterFormation()">Ajouter Formation</button>
  <button (click)="retirerFormation()">Retirer Formation</button>
</div>
<form #tcForm="ngForm">
  <label>Titre de la formation</label>
  <input type="text" name="titre-formation-field" [(ngModel)]="tFormation" minlength="2" pattern="[a-zA-Z]*"
    #tc="ngModel">
  <button [disabled]="tcForm.invalid">Valider</button>
  <pre *ngIf="tc.errors">
    {{ tc.errors | json }}
  </pre>
</form>
