<h1>{{ titreFormation }}</h1>
<div>
  <ul *ngIf="formation$ | async; let formations">
    <ng-container *ngFor="let f of formations">
      <li *ngIf="f.chargeH > 0; else formationFinished" [class.grosse-formation]="f.chargeH > 20">
        {{ f.nom }} : {{ f.chargeH }}. Vous avez obtenu la note de {{ f.note | notation }}
        <app-progress-bar [progression]="f.note * 10" (survolProgressBar)="userOverProgressBar($event)"></app-progress-bar>
      </li>
      <ng-template #formationFinished>
        <li>La formation {{ f.nom }} est finie !</li>
      </ng-template>
    </ng-container>
  </ul>
  <ng-content></ng-content>
</div>
<div>{{ dateDujour | date:'dd/MM/yyyy' }}</div>
<div>
  <form >
    <input type="text" [(ngModel)]="nbFormation" name="nb-formation-field">
    <!-- <input type="text" [value]="nbFormation" name="nb-formation-field"> -->
    <button (click)="ajouterFormation()">Ajouter formation</button>
    <button (click)="retirerFormation()">Retirer formation</button>
  </form>
</div>
<br>
<h2>Création d'un utilisateur</h2>
<app-edit-user [user]="newUser" (onValider)="createUser($event)"></app-edit-user>

<h2>Modification d'un utilisateur</h2>
<app-edit-user [user]="existantUser" (onValider)="modifyUser($event)"></app-edit-user>
