<h1 [title]="titleHelper">{{ titrePage$ | async }}</h1>
<input type="text" [formControl]="nomFormation"/>
<ng-container *ngIf="formation$ | async; let formationModel">
  <div>
    <app-progress-bar [progression]="formationModel.moyenne" (survolProgressBar)="constaterMoyenne($event)">
    </app-progress-bar>
  </div>
  <div>
    <ul>
      <ng-container *ngFor="let f of formationModel.formations">
        <li *ngIf="f.chargeH === 0; else formationEnCours">La formation {{ f.nom }} est finie !</li>
        <ng-template #formationEnCours>
          <li [class.formation-en-retard]="f.chargeH >= 20">
            {{ f.nom | lowercase }} : {{ f.chargeH }} heures restantes. Vous avez obtenu {{ f.note | notation }}
            <app-progress-bar [progression]="f.note" (survolProgressBar)="userWantsDetails($event)">
            </app-progress-bar>
            <ul>
              <li><a routerLink="formation-detail" [queryParams]="{ nomFormation: f.nom }"
                  fragment="formation-card">Query</a></li>
              <li><a [routerLink]="[f.nom]">Path</a></li>
            </ul>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </div>
</ng-container>
<div>{{ dateDuJour | date:'dd/MM/yyyy' }}</div>
<div>
  <form>
    <input type="text" [value]="nbFormation" name="nb-formation-field">
    <button (click)="addFormation()">Ajouter</button>
    <button (click)="removeFormation()">Retirer</button>
  </form>
</div>
<div>
  <form #monFormulaire="ngForm" [ngFormOptions]="{ updateOn: 'change' }">
    <div>
      <label for="id-titre-formation-field">Titre formation</label>
      <input class="input-validation" type="text" [(ngModel)]="tFormation" name="titre-formation-field" id="id-titre-formation-field"
        minlength="2" pattern="[a-zA-Z]*" #tc="ngModel">
      <pre>
        {{ tc.errors | json }}
      </pre>
    </div>
    {{ monFormulaire.pristine }}
    <button [disabled]="monFormulaire.invalid">Valider</button>
  </form>
</div>
{{ dumb$ | async }}
