@import "var";

.l-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {

}

#main-title {
  font-family: $font-title;
  font-size: $font-size-lg;
  color: black;
  padding: 40px;
}

#menu {

}
