
@font-face {
  font-family: "title-font";
  font-weight: normal;
  src: url("/styles/fonts/title-font/castelar.ttf") format("truetype");
}

@font-face {
  font-family: "title-font";
  font-weight: bold;
  src: url("/styles/fonts/title-font/castelar.ttf") format("truetype");
}

@font-face {
  font-family: "main-font";
  font-weight: normal;
  src: url("/styles/fonts/main-font/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "main-font";
  font-weight: bold;
  src: url("/styles/fonts/main-font/RobotoSlab-Bold.ttf") format("truetype");
}

$font-title: "title-font";
$font-main: "main-font";

$color-major: #000000;
$color-minor: #D4A161;
$color-third: "";

$font-size-lg: 36px;
$font-size-md: 24px;
$font-size-sm: 18px;
